@using MessagePack;
@using Workflows.Handler.UiService.InOuts;
@{
    ViewBag.Title = $"Pushed Call [{Model.MethodData.MethodUrn}]";
}
@model SignalDetails
<div class="w3-container w3-margin">
    <header class="w3-text-blue-gray">
        <h2 class="w3-margin-top"><b>Pushed Call <span class="w3-text-indigo">@Model.MethodData.MethodUrn</span></b></h2>
    </header>

    <div class="w3-row-padding">
        <div class="w3-col s6">
            <header class="w3-text-indigo">
                <h4 class="w3-margin-top"><b>Input & Output</b></h4>
            </header>
            <pre class="JsonObject" style=" word-wrap: break-word;">
                @Model.InputOutput
            </pre>
        </div>
         <div class="w3-col s6">
            <header class="w3-text-indigo">
                <h4 class="w3-margin-top"><b>Method Info</b></h4>
            </header>
           <ul>
                <li><b>Name: </b>@Model.MethodData.MethodName</li>
                <li><b>Class Name: </b>@Model.MethodData.ClassName</li>
                <li><b>Assembly Name: </b>@Model.MethodData.AssemblyName</li>
                @*<li><b>Can Publish From External: </b>@Model.MethodData.CanPublishFromExternal</li>*@
            </ul>
        </div>
    </div>
    <br />
    <header class="w3-text-indigo">
        <h4 class="w3-margin-top"><b>[@Model.Waits.Count] Affected waits by this call:</b></h4>
    </header>
    <table class="w3-table-all w3-padding-32" style="width: 100%;table-layout: fixed;">
        @foreach (var wait in Model.Waits)
        {
            <tr>
                <td>
                    <ul>
                        <li><b>Name: </b>@wait.Name #@wait.Id</li>
                        <li><b>Status: </b><span class="@wait.Status">@wait.Status</span></li>
                        <li>
                            <b>In Workflow Instance: </b>
                            <a target="_blank" href="~/RF/WorkflowInstances/WorkflowInstance?instanceId=@wait.InstanceId" class="w3-text-blue">
                                @wait.WorkflowName 
                            </a>
                        </li>
                        <li>
                            <b>ID: </b>
                            <span>
                                InstanceId:@wait.InstanceId ,WorkflowId:@wait.WorkflowId
                            </span>
                        </li>
                        <li><b>Match If: </b>@wait.MatchExpression</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li><b>Instance Mandatory Parts: </b>@wait.MandatoryPartExpression</li>
                        <li><b>Mandatory Part Values: </b>@wait.MandatoryPart</li>
                        <li><b>Created: </b>@wait.Created.ToLocalTime()</li>
                        <li><b>Match Status: </b><span class="@wait.MatchStatus">@wait.MatchStatus</span></li>
                        <li><b>After Match: </b><span class="@wait.InstanceUpdateStatus">@wait.InstanceUpdateStatus</span></li>
                        <li><b>Resume Workflow: </b><span class="@wait.ExecutionStatus">@wait.ExecutionStatus</span></li>
                    </ul>
                </td>
            </tr>
        }

    </table>
</div>