@using Workflows.Handler.UiService.InOuts;
@model             WorkflowsViewModel
<div class="w3-margin">
    <header class="w3-text-indigo">
        <h2 class="w3-margin-top"><b>Resumable Workflows</b></h2>
    </header>
    <div class="w3-container">
        <div class="w3-row-padding w3-margin"
             style="margin-left: -16px !important;margin-right: -16px !important;">
            <div class="w3-col l5">
                <b class="w3-text-indigo">Search</b>
                <input value="@Model.SearchTerm" id="workflowSearchTerm" class="w3-input w3-border" type="text" required="" placeholder="Search by Workflow URN Or ID">
            </div>
            <div class="w3-col l3">
                <b class="w3-text-indigo">Service</b>
                <select class="w3-select" name="selectedService" id="selectedService">
                    <option value="" disabled selected>Choose a Service</option>
                    @foreach (var service in Model.Services)
                    {
                        <option value="@service.Id"
                            selected="@(service.Id==Model.SelectedService)">
                            @service.AssemblyName
                        </option>
                    }
                </select>
            </div>
            <div class="w3-col l2">
                <span class="w3-text-light-gray">s</span>
                <input type="button" class="w3-input w3-button w3-indigo" value="Search"
                       onclick="searchWorkflows()" />
            </div>
            <div class="w3-col l2">
                <span class="w3-text-light-gray">s</span>
                <input type="button" class="w3-input w3-button w3-indigo" value="Reset"
                       onclick="resetWorkflowsView()" />
            </div>
        </div>
        @if (Model.Workflows.Any())
        {
             <table class="w3-table-all">
            <thead>
                <tr class="w3-indigo">
                    <th width="45%">Workflow</th>
                    <th>First Wait</th>
                    <th>InProgress</th>
                    <th>Failed</th>
                    <th>Completed</th>
                    <th width="120">Created</th>
                    <th width="120">Last Updated</th>
                </tr>
            </thead>
            @for (var i = 0; i < Model.Workflows.Count; i++)
            {
                var workflow = Model.Workflows[i];

                <tr>
                    <td>
                        <ul>
                            <li>
                                <a target="_blank" href="~/RF/WorkflowInstances/AllInstances?workflowId=@workflow.WorkflowIdentifier.Id&workflowName=@workflow.WorkflowIdentifier.RF_MethodUrn"
                               class="w3-text-blue">
                                    @workflow.WorkflowIdentifier.RF_MethodUrn
                                    (@(workflow.Completed + workflow.Failed + workflow.InProgress + 1) Instance)
                                </a>
                            </li>
                            <li><b>Method Name: </b>@workflow.WorkflowIdentifier.MethodName #@workflow.WorkflowIdentifier.Id</li>
                            <li><b>Class Name: </b>@workflow.WorkflowIdentifier.ClassName</li>
                            <li><b>Assembly Name: </b>@workflow.WorkflowIdentifier.AssemblyName</li>
                            <li><b>Is Active: </b>@workflow.WorkflowIdentifier.IsActive</li>
                            <li>
                                @if (workflow.Failed == 0)
                                {
                                    <b class="w3-text-green">No Instances Failed</b>
                                }
                                else
                                {
                                    <b class="w3-text-red">@(workflow.Failed) Instances Failed</b>
                                }
                            </li>
                        </ul>
                    </td>
                    <td>
                        @if (workflow.WorkflowIdentifier.IsEntryPoint)
                        {
                            @if (workflow.FirstWait != null)
                            {
                                <span>@workflow.FirstWait</span>
                            }
                            else
                            {
                                <span class='w3-text-red'>No First Wait Exist</span>
                            }

                        }
                        else
                        {
                            <span class="w3-text-blue-gray">Not an entry point</span>
                        }
                    </td>
                    <td>
                        @(workflow.InProgress == 0 ? "No" : workflow.InProgress.ToString())
                    </td>
                    <td>
                        @(workflow.Failed == 0 ? "No" : workflow.Failed.ToString())
                    </td>
                    <td>
                        @(workflow.Completed == 0 ? "No" : workflow.Completed.ToString())
                    </td>
                        <td>@workflow.WorkflowIdentifier.Created.ToLocalTime()</td>
                    <td>
                        @if (workflow.WorkflowIdentifier.Modified == DateTime.MinValue)
                        {
                            <span>Not Changed</span>
                        }
                        else
                        {
                                <span>@workflow.WorkflowIdentifier.Modified.ToLocalTime()</span>
                        }

                    </td>
                </tr>
            }
        </table>
        }
        else
        {
            <div class="w3-display-middle w3-padding-64">
                <h1 class="w3-text-red">No Workflows</h1>
            </div>
        }
       
    </div>
</div>