@using Workflows.Handler.Core.Abstraction;
@using Workflows.Handler.InOuts;
@using Workflows.Handler.Core;
@*Services*@
@model             ServicesListModel
@inject IWorkflowsSettings Settings
<div class="w3-margin">
    <header class="w3-text-indigo">
        <h2 class="w3-margin-top"><b>Services in [@Settings.CurrentWaitsDbName] DB</b></h2>
    </header>
    <div class="w3-container">
        <table class="w3-table-all">
            <thead>
                <tr class="w3-indigo">
                    <th>Service</th>
                    <th>Hangfire</th>
                    <th>Logs</th>
                    <th>Workflows</th>
                    <th>Methods</th>
                    <th>Pushed Calls</th>
                    <th>Scan Status</th>
                    <th>Registration</th>
                    <th>Last Scan</th>
                    @*<th>Actions</th>*@
                </tr>
            </thead>
            @foreach (var service in Model.Services)
            {
                var swaggerUrl = service.Url?.TrimEnd('/') + (service.Url == null ? "" : "/swagger");
                var hangfireUrl = service.Url?.TrimEnd('/') + (service.Url == null ? "" : "/hangfire");
                <tr>
                    <td>
                        @if (!string.IsNullOrEmpty(swaggerUrl))
                        {
                            <a href="@swaggerUrl" target="_blank" class="w3-text-blue">@service.Name</a>
                        }
                        else
                        {
                            <span>@service.Name</span>
                        }
                        @if (service.Name == Settings.CurrentServiceName)
                        {
                            <span>(Current Service)</span>
                        }
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(hangfireUrl))
                        {
                            <a href="@hangfireUrl" target="_blank" class="w3-text-blue">Hangfire</a>
                        }
                    </td>
                    <td>
                        <a class="w3-text-@(service.LogErrors == 0 ? "green" :"red")"
                       onclick="gotoViewPart(4,'/RF/Home/_LatestLogs?serviceId=@service.Id')">
                            <u style="cursor:pointer;">@(service.LogErrors == 0 ? "No Errors" : $"{service.LogErrors} Error")</u>
                        </a>
                    </td>
                    <td>
                        <a class="w3-text-blue"
                       onclick="gotoViewPart(1,'/RF/Home/_WorkflowsList?serviceId=@service.Id')">
                            <u style="cursor:pointer;">@service.WorkflowsCount</u>
                        </a>
                    </td>
                    <td>
                        <a class="w3-text-blue"
                       onclick="gotoViewPart(2,'/RF/Home/_MethodGroups?serviceId=@service.Id')">
                            <u style="cursor:pointer;">@service.MethodsCount</u>
                        </a>
                    </td>
                    <td>
                        <a class="w3-text-blue"
                       onclick="gotoViewPart(3,'/RF/Home/_Signals?serviceId=@service.Id')">
                            <u style="cursor:pointer;">@service.SignalsCount</u>
                        </a>
                    </td>
                    <td>
                        @if (@service.IsScanRunning)
                        {
                            <span class="w3-text-red">Scan Is Running</span>
                        }
                        else
                        {
                            <span class="w3-text-green">Scan Completed</span>
                        }
                    </td>

                    <td>
                        @service.Registration.ToLocalTime()
                    </td>
                    <td>
                        @service.LastScan.ToLocalTime()
                    </td>
                </tr>
            }
        </table>
    </div>
</div>