@model List<Workflows.Handler.UiService.InOuts.MethodWaitDetails>
@{
    ViewBag.Title = $"Waits for method group {Model.FirstOrDefault()?.GroupName}";
}
<div class="w3-container w3-margin">
    <header class="w3-text-blue-gray">
        <h2 class="w3-margin-top">
            <b>
                Waits for method group <span class="w3-text-indigo">
                    [@Model.FirstOrDefault()?.GroupName]
                </span>
            </b>
        </h2>
    </header>

    <br />
    <table class="w3-table-all w3-padding-32" style="width: 100%;table-layout: fixed;">

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    <ul>
                        <li>
                            <b>Name: </b>
                            <span>@item.Name #@item.Id</span>
                        </li>
                        <li>
                            <b>In Instance: </b>
                            <a href="~/RF/WorkflowInstances/WorkflowInstance?instanceId=@item.InstanceId"
                           target="_blank"
                           class="w3-text-blue">
                                @item.WorkflowName
                            </a>
                        </li>
                        <li>
                            <b>Status: </b>
                            <span class="@item.Status">@item.Status </span>
                            @if (item.SignalId > 0)
                            {
                                <a class="w3-text-blue" target="_blank" href="~/RF/Signal/Details?signalId=@item.SignalId">
                                    By Call
                                </a>
                            }
                        </li>
                        @if (item.MandatoryPart != null)
                        {
                            <li>
                                <b>Mandatory Parts: </b>
                                <span>@item.MandatoryPart</span>
                            </li>
                        }
                    </ul>
                </td>

                <td>
                    <ul>
                        <li>
                            <b>Match If: </b> @item.MatchExpression
                        </li>
                        @if (item.MandatoryPartExpression != null)
                        {
                            <li>
                                <b>Mandatory Expression: </b> @item.MandatoryPartExpression
                            </li>
                        }
                        <li>
                            <b>Created: </b> @item.Created.ToLocalTime()
                        </li>

                    </ul>
                </td>
            </tr>
        }
    </table>
</div>