@using Workflows.Handler.InOuts;
@using Workflows.Handler.Expressions;
@using Workflows.Handler.InOuts.Entities;
@model WaitsGroupEntity
<li>
    @*onclick="toggleView('waits-in-group-@Model.Id')"*@
    <div class="w3-card w3-pale-blue w3-padding w3-round" >
        <h5 class="w3-text-indigo"><b>@Model.Name</b></h5>
        <span>@Model.WaitType</span>
        <span class="@Model.Status">@Model.Status</span>
        <br />
      @*  @if (Model.GroupMatchFuncName != null)
        {
            <span><b>Match Exprssion: </b><span>@(new ExpressionSerializer().Deserialize(Model.GroupMatchFuncName).ToCSharpString())</span></span>
        }*@
        @{
            var locals = Model.PrivateDataDisplay();
        }
        @if (locals is not null)
        {
            <span>
                <b>Locals: </b>
                <span class="JsonObject">
                    @locals
                </span>
            </span>
        }
        <p></p>
    </div>
    <ul id="waits-in-group-@Model.Id" class="w3-ul w3-hide w3-show">
        @foreach (var wait in Model.ChildWaits)
        {
            @Html.DisplayFor(x=>wait,wait.GetType().Name.Replace("Entity",""))
        }
    </ul>
</li>